body {
  background-color: #FAF3E0;
  color: #495464;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.simpleNav a {
  color: #495464;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
}

a.backtoTopBtn {
  color: #495464;
}

a:hover {
  color: #EEDAD1;
  text-decoration: none
}

.ejsLogo {
  color: #000000;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, P {
  color: #383E56;
  font-family: 'Montserrat', sans-serif;
  padding-top: 10px;
}

p {
  line-height: 2;
}

hr {
  border: dotted #383E56 6px;
  width: 4%;
  border-bottom: none;
  margin: 100px auto;
}

.header2{
  font-size: 2.5rem;
  font-weight: normal;
  padding-top: 20px;
}

.profile-bg-img {
  width: 50%;
  margin-left: 50%
}

.profile-avatar{
  margin: auto 25%;
}

.my-name-homepage {
  color: #383E56;
  font-family: 'Amatic SC', cursive;
  /* font-family: 'Delius Unicase', cursive; */
  font-size: 4.625rem;
}

.title-text {
  padding-top: 100px;
  padding-bottom: 100px;
}

.lorem {
  color: red;
}

.top-container {
  background-color: #EABF9F;
}

.intro {
  margin: auto 15%;
}

.middle-container {
  margin: auto 20%;
}

.contact-me {
  margin: 40px auto 60px;
}

.bottom-container {
  background-color: #1E212D;
  padding: 20px 0 20px;
}

.space_holder{
  height: 50px;
}

.skill-row {
  margin: 100px auto 100px auto;
  text-align: left;
}

.showcase {
  color: #383E56;
  border: solid;
  margin-top: 3%;
  margin-bottom: 3%;
  width: 100%
}

.showcase_image {
  color: #383E56;
  border: solid;
  margin-top: 3%;
  margin-bottom: 3%;
  width: 100%
}

.showcase_video{
  color: #383E56;
  border: solid;
  margin-top: 3%;
  margin-bottom: 3%;
  width: 100%
}

.showcase_web{
  margin-top: 3%;
  margin-bottom: 3%;
  width: 100%
}

.showcase_image:hover{
  color: #383E56;
  border: solid;
  margin-top: 3%;
  margin-bottom: 3%;
  opacity: 0.5;
  width: 100%;
}

.pro {
  text-decoration: underline;
}

.contact-message {
  width: 50%;
  margin: 40px auto 20px;
}

.footer {
  margin-bottom: 0px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.55rem;
  padding: 20px;
}

.nounderline {
  text-decoration: none !important
}

.code-img {
  width: 90%;
  margin: auto 20px auto 20px;
}

.code-col-img {
  width: 15%;
  margin: 10px 5px 10px;
}

.contact-me .btn {
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: 'Montserrat', sans-serif;
  color: #495464;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #383E56 2px;
  text-decoration: none;
}

.btn:hover {
  background: #f7f7f7;
  text-decoration: none;
}

@media only screen and (max-width: 1024px) {
  p {
    line-height: 1.5;
  }

  .profile-avatar{
    margin: auto 5%;
  }

  .my-name-homepage {
    font-size: 3.2rem;
  }

  .header2 {
    font-size: 2.25rem;
    font-weight: normal;
    padding-bottom: 10px;
  }

  .middle-container {
    width: 90%;
    margin: auto 5%;
  }

  .contact-me {
    width: 90%;
    margin: auto 5%;
  }

  .code-img {
    width: 80%;
    margin: auto 10%  ;
  }

  .code-col-img {
    width: 12%;
    margin: 10px 5px 10px;
  }

  .contact-message {
    width: 90%;
    margin: 40px auto 20px;
  }
}

@media only screen and (max-width: 425px) {
  h2,h3,P {
    text-align: center;
  }

  .header2 {
    font-size: 2.0rem;
    font-weight: normal;
    padding-bottom: 10px;
  }

  .profile-avatar{
    width: 90%
  }

  .code-img {
    width: 60%;
    margin: auto 20%;
  }

  .code-col-img {
    width: 40px;
    margin: 10px 5px 10px;
  }

  .code-col-holder-2{
    margin: auto 32.5%;
  }

  .code-col-holder-3{
    margin: auto 27.5%;
  }

  .code-col-holder-4{
    margin: auto 17.5%;
  }

@media only screen and (max-width: 375px) {
  p {
    font-size: 0.8rem;
  }

  .header2{
    font-size: 2rem;
  }

  .header3{
    font-size: 1.5rem;
  }

  .profile-avatar{
    width: 80%
  }

  .code-col-img {
    width: 35px;
    margin: 5px 2.5px 5px;
  }

@media only screen and (max-width: 320px) {
  .code-col-img {
    width: 30px;
  }
}
